


/* copyright */
.copyright-agile {
    background: #272727;
    padding: 1em 0;
}
.copyright-agile h4 {
    color: #fff;
    width: 30%;
    float: left;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: .3em;
}
.copyright-agile p {
    color: #fff;
    float: right;
    width: 70%;
    text-align: right;
    margin-top: .6em;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}
.copyright-agile a {
    color: #11b563;
}
.copyright-agile a:hover{
    color: #fff;
}
/* //copyright */

